#cabecera {
	background-color: #C8D9E4;
	display: grid;
	grid-template-columns: 100%;
}

.logo {
	float: left;
	padding: 20px;
	width: 200px;
}

#imagenlogo {
	width: 100%;
	height: auto;
	display: block;
	max-width:  200px;
	max-height: 200px;
}

#menu {
	font-size: 1em;
	background-color: #ECEED3;
	margin: 0;
}

#lista-menu {
	list-style: none;
}

.item {
	display: inline-block;
}

.item a {
	color: inherit;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 0px 0.5em 0px 0.5em;
	transition: background .25s;
	transition-timing-function: linear;
}

.item a:hover {
	background-color: #AEC6D6;
}
