<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>albedr.io: {% block mensaje %}{% endblock %}</title>
		<link rel="stylesheet" href="css/usuarios.css">

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">

		<link rel="icon" href="../img/favicon.png">
	</head>

	<body>
		<div id="formulario">
			{% block form %}
			{% endblock %}
		</div>
	</body>
</html>
