* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #eee;
	font: 1em/1.2 "TimesNew Roman", Georgia, serif;
}

li {
	display: inline;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
}

.cabecera {
	background-color: #666;
	text-align: center;
	font-size: 35px;
	color: white;
}

.nav-bar {
	width: auto;
	font-size: 15px;
}

.titulo-cab {

}

.nav-item {
	padding: 10px;
	margin: 10px;
	display: inline-block;
}

.caja-izq {
	width: 25%;
	float: left;
}

.caja-central{
	width: 75%;
	float: right;
}
