* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #AEC6D6;
	color: #413843;
	font-family: 'Balsamiq Sans', cursive;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
}

#cabecera {
	background-color: #C8D9E4;
	padding: 20px;
	color: #221D23;
	display: grid;
	grid-template-columns: 30% 70%;

}

.logo {
	float: left;
	padding: 20px;
	width: 190px
}

#imagenlogo {
	width: 100%;
	height: auto;
	display: block;
	max-width:  200px;
	max-height: 160px;
}

#titulo-cab {
	float: left;
	margin: 30px;
	text-align: left;
	font-size: 25px;
}

#menu {
	font-size: 15px;
	background-color: #ECEED3;
}

#lista-menu {
	list-style: none;
}

.item {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.item a {
	color: inherit;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
	transition: background .25s;
	transition-timing-function: linear;
}

.item a:hover {
	background-color: #e3e3e3;
}

#cuerpo {
	overflow: auto;
	display: grid;
	grid-template-columns: 15% 85%;
}

#adicional {
	background-color: #C8D9E4;
	float: left;
	padding: 20px;
	border-style: solid solid solid none;
	border-width: 0.05em;
	border-color: #AEC6D6;

	font-size: 1vw;
	text-align: left;
}
/* Esta es la sección para editar el estilo del div que contiene los eventos
	- background-color seleccionar el color de fondo del div
	- float a la izquierda para que este pegado a la información adicional
	- padding para separar el contenido de los bordes
	- display en grid para alinear los eventos en una tabla
	- grid-template-colums con 3 auto para indicar que son 3 columnas de tamaño automático
	- Los gaps están puestos para tener un espacio entre las casillas del grid
*/
#main {
	background-color: #C8D9E4;
	float: left;
	margin: 2em;
	border-radius: 1em;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows: minmax(100px, auto);
	position: relative;
	margin: 40px;
	grid-auto-flow: dense;
	grid-gap: 5px;
}

/* Estilos para los eventos */
.evento {
	background-color: #ECEED3;
	margin: 25px;
	padding: 5px;
	height: 13em;
	display: grid;
	place-items: center;
	text-align: center;
	font-size: 1em;
	border-radius: .5em;
/* Esta línea añade el efecto "polaroid" a los eventos*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.evento a{
	color: inherit;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
	transition: background .25s;
	transition-timing-function: linear;
}

/* Aquí se añade el efecto de zoom out cuando pasamos el ratón
	por encima de los eventos

	:hover es un selector que se activa cuando pasamos el ratón
	por encima del elemento.

	Añadimos img después para que solo afecte a la imágen del evento
	y no a toda la sección evento
*/
.evento:hover img{
	-webkit-transform:scale(1.3);transform:scale(1.3);
	transition:all .5s ease-in-out;
}

.evento img {
	position: relative;
	width: 80%;
	height: 80%;
	max-height: 150px;
	max-width: 150px;
	border-radius: 150px;
	display: block;
	margin: auto auto;
}

/* Estilo del pie de página*/
.pie {
	position: relative;
	background-color: #9FBDD0;
	text-align: center;
	padding: 10px;
}


/* MEDIA QUERYS */
/*
 * Esta sección sirve para ajustar la página a dispositivos más pequeños, como los
 * móviles o tablets*/

@media only screen and (max-width: 800px) {

	#cabecera {
		background-color: #C8D9E4;
		padding: 20px;
		color: #221D23;
		display: grid;
		grid-template-columns: 30% 70%;
	}

	.logo {
		float: left;
		padding: 20px;
		width: 190px
	}

	#imagenlogo {
		width: 100%;
		height: auto;
		display: block;
		max-width:  200px;
		max-height: 160px;
	}

	#titulo-cab {
		float: left;
		margin: 30px;
		text-align: left;
		font-size: 25px;
	}

	#menu {
		font-size: .5em;
	}

	#lista-menu {
		list-style: none;
		margin-left: 50px
	}

	.item {
		display: inline-block;
		margin-left: 5px;
		margin-right: 5px;
	}
	#cuerpo {
		overflow: auto;
		display: grid;
		grid-template-columns: 100%;
	}

	#adicional {
		display: none;
	}

	/* Esta es la sección para editar el estilo del div que contiene los eventos
		- background-color seleccionar el color de fondo del div
		- float a la izquierda para que este pegado a la información adicional
		- padding para separar el contenido de los bordes
		- display en grid para alinear los eventos en una tabla
		- grid-template-colums con 3 auto para indicar que son 3 columnas de tamaño automático
		- Los gaps están puestos para tener un espacio entre las casillas del grid
	*/
	#main {
		background-color: #C8D9E4;
		float: left;
		display: grid;
		grid-template-columns: 100%;
	}

	/* Estilos para los eventos */

	.evento {
		background-color: #ECEED3;
		margin: 25px;
		padding: 5px;
		height: 13em;
		display: grid;
		place-items: center;
		text-align: center;
		font-size: 1em;
		border-radius: .5em;
	/* Esta línea añade el efecto "polaroid" a los eventos*/
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.evento img {
		position: relative;
		width: 80%;
		height: 80%;
		max-height: 150px;
		max-width: 150px;
		border-radius: 150px;
		display: block;
		margin: auto auto;
	}
}
