{% extends "padre.html" %}

	{% block mensaje %}
		{{ evento ['nombre'] }}
	{% endblock %}

	{% block stylesheets %}
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/p_evento.css">
	<link rel="stylesheet" href="css/menu_desplegable.css">
	{% endblock %}

	{% block items_adicionales %}
	<div id="item_menu">
		<button type="button" name="boton_menu" id="boton_abrir">
			<img src="../img/menu.svg">
		</button>
	</div>
	{% endblock %}

	{% block central %}
	<div id="infoEvento">
		<div id="titulos">
			<h2>{{ evento ['nombre'] }}<a href="./evento_imprimir.php?ev={{id_evento}}"><img src="../img/imprimir.svg"></a></h2>
			<h3>{{ evento ['organizacion'] }}</h3>
			<h4>{{ evento ['fecha'] }}</h4>

			<div id="descripcion">
				<div class="imagenes">
					<img src="{{evento['imagen1']}}" id="espuma"><br>
					<img src="{{evento['imagen2']}}" id="plaza">
				</div>
				<p>{{ evento ['descripcion'] }}</p>
			</div>
		</div>
	</div>

	<div id="contenedor_menu">
		<div id="close">
			<button type="button" name="boton_dentro_menu" id="boton_cerrar">
				<img src="../img/close.svg">
			</button>
		</div>

		<div class="comentario">
			<h3>Nombre Apellidos</h3>
			<h4>Fecha</h4>
			<p>
				Integer euismod dui felis, non
				sollicitudin enim volutpat nec. Duis et volutpat augue. Integer
				quis fringilla turpis, eget fermentum erat
			</p>
		</div>
		<div class="comentario">
			<h3>Nombre Apellidos</h3>
			<h4>Fecha</h4>
			<p>
				Integer euismod dui felis, non
				sollicitudin enim volutpat nec. Duis et volutpat augue. Integer
				quis fringilla turpis, eget fermentum erat
			</p>
		</div>

		<div class="comentario">
			<h3 id="persona"></h3>
			<h4 id="fecha"></h4>
			<p id="texto">
			</p>
		</div>

		<div id="formulario_comentarios">
			<form>
				<p>
					Nombre: <input type="text" name="fname" placeholder="Nombre" id="nombre">
					E-mail: <input type="text" name="email" placeholder="Correo eléctronico" id="correo">
				</p>
				<textarea name="texto" rows="8" cols="70" placeholder="Escribe tu comentario..." id="contenido"></textarea>
				<button type="button" id="boton_submit">Enviar</button>
			</form>
		</div>
	</div>

	<!--Script de javascript-->
	<script src="JavaScript/menu_desplegable.js"></script>
	{% endblock %}
