{% extends "padre.html" %}
	{% block mensaje %}
		Inicio
	{% endblock %}
	{% block stylesheets %}
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/evento.css">
	{% endblock %}

	{% block items_adicionales %}
	{% endblock %}

	{% block cuentas %}
		{% if sesion == false %}
			<button><a href="iniciarSesion.php">Inicia sesión</a></button>
			<button><a href="crearCuenta.php">Crear cuenta</a></button>
		{% endif %}
	{% endblock %}


	{% block central %}
	<div id="principal">

		{% for i in eventos %}
		<div class="evento">
			<a href="evento.php?ev={{i['id']}}">
				<img src="{{i['logo']}}">
			<h3>{{i['nombre']}}</h3>
			</a>
		</div>
		{%endfor%}

	</div>
	{% endblock %}
