* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: #413843;
	font-family: 'Balsamiq Sans', cursive;
	display: flex;
	align-items: center;
	justify-content: center;
}

#cabecera{
	display: none;
}

#adicional {
	display: none;
}

.logo {
	padding: 20px;
	width: 190px
}

#imagenlogo {
	width: 100%;
	height: auto;
	max-width:  200px;
	max-height: 160px;
}

#main {
	margin: 2em;
	border-radius: 1em;
	width: 100em;
}

#titulos {
	padding: 20px;
}

#descripcion {
	align-self: center;
	position: relative;
	margin: 20px;
}

.imagenes {
	float:right;
}

#espuma {
	width: 200px;
	height: 200px;
	border-radius: 1em;
}

#plaza {
	width: 250px;
	height: 171px;
	border-radius: 1em;
}

.pie {
	display: none;
}
